*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: PopLight;
    src: url("../fonts/Poppins-Light.ttf");
  }
  
  @font-face {
    font-family: PopMedium;
    src: url("../fonts/Poppins-Medium.ttf");
  }

body {
    background: gray;
    font: PopLight;
    height: 2000px;
}
nav{
    background: linear-gradient(180deg, #FFFFFF 0%, #DAD6D6 100%);
    .navbar-brand{
        color: red;
        font-size: 36px;
    }
    .navbar-light{
        color: rgb(36, 36, 36);
    }
    #navbar-menu{
        margin: auto;
    }
    .nav-link{
        color: rgb(36, 36, 36);
        font-size: 24px;
    }
}

#carousel{
    height: 100vh;
    width: 100vh;
    padding: 0;
    margin: 0;
}

#front-page{
    padding: 0;
    margin: 0;
}

.carousel-inner{
    height: 100vh;
}