* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopMedium;
  src: url("../fonts/Poppins-Medium.ttf");
}

body {
  font: PopMedium;
}
nav {
  background: linear-gradient(180deg, #ffffff 0%, #dad6d6 100%);
  .navbar-brand {
    color: red;
    font-size: 36px;
  }
  .navbar-light {
    color: rgb(36, 36, 36);
  }
  #navbar-menu {
    margin: auto;
    padding-left: 50px; 
  }
  .nav-link {
    color: rgb(36, 36, 36);
    font-size: 24px;
  }
  .nav-item{
    padding: 0px 10px 0px 10px;
  }
}

#carousel {
  padding: 0;
  margin: 0;
}

#front-page {
  padding: 0;
  margin: 0;
}

#fleet-page {
  height: auto;
  text-align: center;
  .fleet-left{
    background-color: rgb(22, 21, 21);
    padding: 100px 20px 100px 20px;
  }
  .fleet-right{
    background-color: #e21c2a;
    padding: 100px 20px 100px 20px;
  }
}



.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center;
  background-size: cover;
}

#about-page{
    background: #ffffff;
    min-height: 50vh;
    text-align: center;
    padding: 30px;
    font-size: 28px;
    letter-spacing: 0.01em;
    p{
        padding: 20px;
    }
}

#contact-page{
    text-align: center;
    padding: 50px;
    margin: auto;
    .btn-send{
      background: #e21c2a;
    }
}

footer{
    text-align: center;
    background: rgb(68, 67, 67);
    color: #ffffff;
    padding: 10px;
}