* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: PopMedium;
  src: url("../fonts/Poppins-Medium.ttf");
}

body {
  font: PopMedium;
  overflow-x: hidden;
}
nav {
  background: linear-gradient(180deg, #ffffff 0%, #dad6d6 100%);
  svg{
    margin-left: 20px;
  }
  .navbar-light {
    color: rgb(36, 36, 36);
  }
  #navbar-menu {
    margin: auto;
    padding-right: 10px; 
  }
  .nav-link {
    color: rgb(36, 36, 36);
    font-size: 24px;
  }
  .nav-item{
    padding: 0px 10px 0px 10px;
  }
}

#carousel {
  padding: 0;
  margin: 0;
}

#front-page {
  padding: 0;
  margin: 0;
}

.carousel-item {
  max-height: 100vh;
  background: no-repeat center center;
  background-size: cover;
}

#about-page{
    background: #ffffff;
    text-align: center;
    padding: 30px;   
    letter-spacing: 0.01em;
    p{
        padding: 20px;
        font-size: 22px;
    }
}

#fleet-page {
  height: auto;
  text-align: center;
  overflow: hidden;
  .fleet-left, .fleet-right{
    padding: 10px 20px 20px 20px;
    h2{
      padding: 20px;
      color: #ffffff;
    }
  }
  .fleet-left{
    background-color: rgb(22, 21, 21);
  }
  .fleet-right{
    background-color: #e21c2a;   
  }
  #coaches{
    position: absolute;
    right: -100%;
    background: #e21c2a;
    width: 100%;
    margin: 0;
    padding: 10px;
    z-index: 2;
    #btn-right-close{
      // padding-top: 0px;
    }
    .card{
      margin: 6px 5px 0px 5px;
      ul{
        list-style-type: none;
      }
    }
  }
}



#contact-page{
    text-align: center;
    padding: 50px;
    margin: auto;
    #contact-form{
      padding: 0px 50px 0px 50px;
    }
    .underline{
      border-bottom: 1px solid #e21c2a;
    }
    .btn-send{
      background: #e21c2a;
    }
}

footer{
    text-align: center;
    background: rgb(68, 67, 67);
    color: #ffffff;
    padding: 14px 0 1px 0;
}


@media screen and (max-width: 1024px){
  nav{
    min-height: 12vh;
    svg{
      margin-left: 0;
      height: 50px;
    }
  }
  .carousel-item{
    padding-top: 12vh;
  }
  #fleet-page{
    #coaches{
      overflow-x: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      z-index: 2;
      .card-title{
        font-size: 20px;
      }
      ul{
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  #about-page{
    // padding: 40px 0px 8px 0px;
    p{
      font-size: 18px;
      padding: 10px;
    }
  }

  #contact-page{
    padding: 20px 30px 0px 30px;
    #contact-form{
      padding: 0;
    }
  }
}